* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}


button, input[type="submit"] {
  cursor: pointer;

  display: inline-block;

  background: transparent;
  background: none;
  box-shadow: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: linear-gradient(top, rgb(255 255 255 / 0%) 0%, rgb(0 174 255 / 4%) 50%, rgb(255 255 255 / 0%) 51%, rgb(0 174 255 / 3%) 100%);
  border-bottom: 1px solid var(--dark-300);
  box-shadow: 0 0 0 1000px var(--dark-500) inset;

  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--light-100);
}


body {
  overflow-x: hidden;

  width: 100vw;
  min-height: 100vh;

  font: var(--font-regular-l);

  background-color: var(--dark-900);
}
